> 패스트캠퍼스 바이트디그리 데이터사이언스 과정 실전 데이터 분석 및 데이터 시각화 수업 내용을 정리한 자료입니다.
> sample 데이터의 경우 패캠 저작권 문제로 실습 진행 후 jupyter notebook에서 출력된 결과는 제거한 뒤, repository에 push하였습니다.

### 데이터 분석 과정
  - 데이터 수집 -> 데이터 전처리 -> 데이터 탐색 -> 데이터 시각화 -> 데이터 분석

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# matplotlib에서 한글깨짐 현상 해결
import matplotlib
from matplotlib import font_manager, rc
import platform

if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:    
# Mac 인 경우
    rc('font', family='AppleGothic')
    
matplotlib.rcParams['axes.unicode_minus'] = False 

# [출처] 파이썬 그래프 한글이 깨질때&마이너스 부호 사용 | 작성자 데이터공방(https://blog.naver.com/kiddwannabe/221202864701)

In [34]:
df = pd.read_excel('d:/sample_data.xls', skiprows=[0])

In [39]:
df = pd.read_excel('d:/sample_data.xls', skiprows=[0, 2, 4])

---

### 결측치(Missing Value) 확인

In [15]:
df.isnull()

       광고그룹    키워드    노출수    클릭수  클릭률(%)  평균클릭비용(VAT포함,원)  총비용(VAT포함,원)
0     False  False  False  False   False            False         False
1     False  False  False  False   False            False         False
2     False  False  False  False   False            False         False
3     False  False  False  False   False            False         False
4     False  False  False  False   False            False         False
...     ...    ...    ...    ...     ...              ...           ...
1374  False  False  False  False   False            False         False
1375  False  False  False  False   False            False         False
1376  False  False  False  False   False            False         False
1377  False  False  False  False   False            False         False
1378  False  False  False  False   False            False         False

[1379 rows x 7 columns]

In [16]:
df.isnull().sum()

광고그룹               0
키워드                0
노출수                0
클릭수                0
클릭률(%)             0
평균클릭비용(VAT포함,원)    0
총비용(VAT포함,원)       0
dtype: int64

In [19]:
df.isnull().sum(axis=1)

0       0
1       0
2       0
3       0
4       0
       ..
1374    0
1375    0
1376    0
1377    0
1378    0
Length: 1379, dtype: int64

### DataFrame 열 단위 수치연산 및 데이터 타입
  - 클릭수
  - 클릭률
  - 평균 클릭비용

In [22]:
# round 함수를 이용하여 반올림 처리
clk = round(df['클릭수'], 0)
clk

0       8058.0
1       1864.0
2        814.0
3        260.0
4        271.0
         ...
1374       0.0
1375       0.0
1376       0.0
1377       0.0
1378       0.0
Name: 클릭수, Length: 1379, dtype: float64

In [28]:
# round 함수 활용 예시
print(round(9876.1234, -3))
print(round(9876.1234, -2))
print(round(9876.1234, -1))
print(round(9876.1234, 0))
print(round(9876.1234, 1)) # 소수점 첫번 째 자리에서 반올림
print(round(9876.1234, 2)) # 소수점 두번 째 자리에서 반올림
print(round(9876.1234, 3)) 
print(round(9876.1234, 4))
print(round(9876.1234, 5))

10000.0
9900.0
9880.0
9876.0
9876.1
9876.12
9876.123
9876.1234
9876.1234

In [31]:
# float to int
clk.astype(int) # astype() 함수를 이용하여 전체 데이터에 대한 type을 변경할 수 있다.

0       8058
1       1864
2        814
3        260
4        271
        ...
1374       0
1375       0
1376       0
1377       0
1378       0
Name: 클릭수, Length: 1379, dtype: int32

#### DataFrame은 열(Column)을 기준으로 수치연산 가능

In [37]:
df['클릭수'] / df['노출수'] * 100

0       0.414149
1       1.049915
2       0.028475
3       0.268489
4       0.008452
          ...
1376    0.000000
1377    0.000000
1378    0.000000
1379    0.000000
1380    0.000000
Length: 1381, dtype: float64

In [38]:
# 연산결과를 특정 컬럼에 삽입
df['클릭률(%)'] = df['클릭수'] / df['노출수'] * 100
df.head()